<span id="plugin_pooled_queue_button" class="btn btn-primary fileinput-button">
    <i class="fa fa-upload" aria-hidden="true"></i>
    <span id="plugin_pooled_queue_button_text"></span>
</span>

<div id="plugin_pooled_queue_dialog" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="plugin_pooled_queue_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times</span>
                </button>
                <h3 class="modal-title" id="plugin_pooled_queue_dialog_title">Upload from Pooled Queue</h3>
            </div>
            <div class="modal-body">
                <div id="plugin_pooled_queue_files_config" class="files alert alert-error hidden">
                    <h4>Configuration Error</h4>
                    <p>Please configure queue settings in the Pooled Queue plugin settings.</p>
                </div>
                <div id="plugin_pooled_queue_files_auth" class="files alert alert-error hidden">
                    <h4>Authentication Error</h4>
                    <p>The configured authentication settings failed. Please double-check them in the Pooled Queue
                        plugin settings.</p>
                </div>
                <div id="plugin_pooled_queue_files_none" class="files hidden">
                    <p>No files are available.</p>
                </div>
                <div id="plugin_pooled_queue_files_loading" class="files">
                    <p>Loading queue&hellip;</p>
                    <div class="spinner-container">
                        <i class="fa fa-spinner fa-spin fa-2x"></i>
                    </div>
                </div>
                <div id="plugin_pooled_queue_files_list" class="files hidden">
                    <p id="plugin_pooled_queue_instructions">Select a file to upload to OctoPrint&hellip;</p>
                    <ul></ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">Cancel</button>
            </div>
        </div>
    </div>
</div>

<template id="plugin_pooled_queue_item_template">
    <li class="item">
        <span class="id hidden"></span>
        <span class="filename">
            <i class="fa fa-file-o" aria-hidden="true"></i>
        </span>
        <span class="owner">
            <i class="fa fa-user-o" aria-hidden="true"></i>
        </span>
        <span class="date">
            <i class="fa fa-calendar" aria-hidden="true"></i>
        </span>
        <span class="comment">
            <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
        </span>
    </li>
</template>
